@model DreamHomeWeb.Models.DomainModel

@{
    ViewData["Title"] = "Properties For Rent";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].Rooms)
        <th/>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].Rent)
        <th/>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].PropertyOwnerId)
        <th/>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].OverseerId)
        <th/>
        <th>
            @Html.DisplayNameFor(model => model.Properties[0].BranchId)
        <th/>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Properties)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyOwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverseerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>