@model DreamHomeWeb.Models.DomainModel
@{
    ViewData["Title"] = "Viewings";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Viewings[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewings[0].PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewings[0].ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewings[0].ViewDate)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Viewings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>