@model DreamHomeWeb.Models.Domain.Client

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Client</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrefType)
                </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrefType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxRent)
        </dd>
    </dl>
</div>
<a asp-action="Index">Back to List</a>